body {
  background-color: black;
}
.flagContainer {
  width: 20%;
  height: 18vh;
  padding-bottom: .5vh;
}
/* Indonesia */
.indonesiaTop {
  height: 68px;
  background-color: red;
}
.indonesiaBottom {
  height: 68px;
  background-color: white;
}
/* Colombia */
.columbiaTop {
  height: 50%;
  background-color: yellow;
}
.columbiaBottom1 {
  height: 25%;
  background-color: blue;
}
.columbiaBottom2 {
  height: 25%;
  background-color: red;
}
/* Ireland */
.flagContainerIreland {
  width: 20%;
  height: 18vh;
  display: flex;
  padding-bottom: .5vh;
}
.irelandLeft {
  width: 100%;
  background-color: green;
}
.irelandCenter {
  width: 100%;
  background-color: white;
}
.irelandRight {
  width: 100%;
  background-color: orange;
}

/* France */
.flagContainerFrance{
  width: 20vw;/**/
  height: 18vh;/**/
  font-size: 0;
  padding-bottom: .5vh;
}
#france > * {
  width: 33%;
  height: 100%;
  float: left;
}
.franceLeft {
  background-color: #002395;
}
.franceCenter {
  background-color: white;
}
.franceRight {
  background-color: #ed2939;
}

/* Benin */

/* Sweden */

/* Switzerland */

/* Tonga */

/* Japan */

/* Canada */

/* Norway */

/* Greece */

/* Somalia */

/* Chile */

/* Turkey */

/* China */

/* Cuba */

/* Western Sahara */

/* Kuwait */

/* Venezuela */

/* Trinidad And Tobago */

/* United Kingdom */

/* New Zealand */

/* United States */

/* Seychelle */
